html, body {
	font-family: Open Sans;
	font-size: 15px;
}

.floor-title {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.floor-button {
	display: inline-block;
	margin-left: 10px;

	width: 30px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right: none;

	font-size: 15px;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
	line-height: 30px;
}

.floor-button ~ .floor-button {
	margin-left: 0;
}

.floor-button:last-of-type {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.floor-button:hover, .floor-button.active {
	background-color: #b37af8;
}

.floor-button:active {
	position: relative;
	top: 1px;
}